#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

body {
  font-family: sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  
  body {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
  }

  a:is(:link, :visited, :hover, :active) {
    color: hsl(300, 100%, 40%);
  }
  
}
